<!DOCTYPE html>
<html>
  <head>
    <title>ActionCable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="">ChatApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="">Link1</a></li>
        <li><a href="">Link2</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Link3</a></li>
      </ul>
    </nav>

    <% if user_signed_in? %>
      <p>
        <%= current_user.username %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
